* {
    padding: 0;
    margin: 0;
}

input {

    outline: none;


}

button {
    border: none;
    cursor: pointer;
}

$myColor: aliceblue;

.nail {
    width: 200px;
    height: 100vh;
    // background-color: aqua;
    display: flex;
    flex-direction: column;
}

.Foodnail,
.ordernail,
.usernail {
    width: 100%;
    height: 200px;
    background-color: beige;
    margin-top: 20px;
    padding-top: px;

}

.ordernail {
    background-color: aliceblue;
}

.Foodnail>ul,
.ordernail>ul,
.usernail>ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 20px;
    // padding-top: 20px;
    width: 150px;
    height: 80px;
}

.Foodnail>ul>p,
.ordernail>ul>p,
.usernail>ul>p {
    padding-top: 0px;
}

.userOwnnail {
    // float: right;
    // height: 100px;
    width: 1200px;
    margin-left: 100px;
    // display: flex;
    background-color: $myColor;
    position: absolute;
    left: 200px;
    top: 0px;
}

// 添加的盒子的样式
#foodAddUser {
    width: 168px;
    height: 188px;
    z-index: 20;
    float: left;
    position: relative;
    left: 451px;
    top: 200px;
    background-color: skyblue;
}

.food-user {
    margin-top: 10px;

}

#food-user-finding {
    margin-top: 20px;
    margin-left:50px;
}


.userPhotos {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    // background-color: black;
    overflow: hidden;
}

.userPhotos>img {
    width: 100px;
    height: 100px;
}

#userShow {
    display: flex;
    list-style-type: none;
    position: relative;
    top: -100px;
}

#userShow>li {
    justify-content: space-around;
    float: left;
    padding-left: 40px;
    margin-left: 100px;
    margin-top: 30px;
}

.AllFood {
    width: 1200px;
    height: 275px;
    background-color: $myColor;
    position: absolute;
    top: 100px;
    left: -100px;
    margin-left: 100px;
    margin-top: 20px;
}

#foodHead>li {
    float: left;
    justify-content: center;
    margin-left: 133px;
    width: 65px;
    padding-top: 10px;
}

#foodHead {
    width: 1200px;
    height: 80px;
    display: flex;
    list-style-type: none;
    //    position: relative;
    //    left:-200px;
}

.foodBox {
    width: 1200px;
    height: auto;
    // background-color: beige;
    position: absolute;
    top: 160px;
    left: 63px;
}

#foodTable {
    width: 100%;
    height: auto;
}

#foodTable th {
    justify-content: center;
    list-style: none;
    height: 40px;
    float: left;
    margin-left: 60px;
    width: 120px;
    padding-top: 10px;
}

.foodChangebtn {
    width: 300px;
    // background-color: aqua;
    height: 50px;
    position: absolute;
    left: 400px;
    top: 402px;

}

#foodPageNum {
    width: 10px;
    height: 10px;
    background-color: beige;
    margin-right: 3px;
}

.infoUlSty {
    display: flex;
}

.infoUlSty>li {
    width: 200px;
}

#addFood {
    background-color: beige;
    width: 10px;
    height: 10px;
    margin-left: 20px;

}

#findFood {
    // background-color: beige;
    width: auto;
    height: auto;

}

#lookFood {
    background-color: beige;
    width: 10px;
    height: 10px;
}

#reNewFood {
    background-color: beige;
    width: 10px;
    height: 10px;
}

// 第二部分样式
#billAll {
    width: 100%;
    height: 30px;
}

#billAll>li {
    float: left;
    padding-left: 40px;
    margin-left: 112px;
    margin-top: 20px;
    list-style-type: none;
}

#orderHead {
    width: 100%;
    height: 200px;
    margin: auto;
    // margin-top: 40px;
}

.orderTable>li {
    list-style-type: none;
    // margin-left:184px;
    // margin-top: 20px;
}

.orderconten {
    float: left;
    width: 50px;
    height: 20px;
    margin-left: 163px;
    margin-top: 20px;


}

.orderChangebtn {
    width: 300px;
    // background-color: aqua;
    height: 50px;
    margin: 0 auto;
}

#orderPageNum {
    width: 10px;
    height: 10px;
    background-color: beige;
    margin-right: 3px;
}

.orderButtonall {
    margin: 0 auto;
}

.findfoodOrderHidden {
    position: absolute;
    float: none;
    background-color: white;
    padding-top: 10px;
    z-index: 60;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.findfoodOrderHidden>p {
    text-align: center;
}

#addfoodOrder {
    margin-top: 10px;
    margin-left:447px;
    padding:4px;
    background-color: beige;
    

}

.findfoodOrderHidden>input {
    margin-top: 8px;
    margin-left: 45px;
    margin-bottom: 5px;
}

#orderbigBox {
    width: 1200px;
    background-color: $myColor;
    height: auto;
}

.findfoodOrderHidden>p {
    margin-top: 5px;
}

.findfoodOrderHidden input {
    margin-top: 10px;
    margin-left: 121px;
}

.lookorderHidden {
    margin-top: 20px;
    position: relative;
    float: none;
    z-index: 10;
    background-color: $myColor;
    padding-top: 10px;
}

.lookorderHidden>input {
    margin-top: 8px;
    margin-left: 45px;
    margin-bottom: 5px;
}

.lookorderHidden>p {
    margin-top: 5px;
}

#findingfoodOrderagin {
    margin-top: 10px;
    position: relative;
}

// 搜索框
.findingorderupbox {
    margin-left: 154px;
    margin-top:-37px;
    margin-bottom:20px;
}

.findingorderupbox>span {
    margin-right: 10px;
}

// 添加外面的盒子
.orderBoxShadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 30;
}

.addfoodOrderaginbox {
    margin-top: 15px;
    margin-left: 133px;

}

#addfoodOrderagin {
    background-color: green;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
    color:white;
    
}

#rightaddfoodOrderagin {
    background-color: crimson;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
    color:white;
}

#changefoodOrder {
    margin-left: 5px;
}

.orderOperator {
    width: 70px;
    margin-left: 150px;
}

#renewfoodOrder,
#findfoodOrder,
#delectfindfoodOrder {
    padding: 4px;
}

// 修改盒子
.changeorderBoxShadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 30;
}

.changefoodOrderaginbox {
    margin-top: 15px;
    margin-left: 127px;
    margin: 0 auto;

}

#changefoodOrderagin {
    background-color: darkgreen;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
}
.foodOrderaginbox{
    margin-top: 20px;
    margin-left: 126px;
}

#rightchangefoodOrderagin {
    background-color: crimson;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
}

#changefoodOrder {
    margin-left: 5px;
}

.orderOperator {
    width: 70px;
    margin-left: 150px;
}

.changefoodOrderHidden {
    position: absolute;
    float: none;
    background-color: white;
    padding-top: 10px;
    z-index: 60;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.changefoodOrderHidden>p {
    text-align: center;
}

.changefoodOrderaginbox>span {
    margin-right: 10px;
}

.changefoodOrderHidden input {
    margin-top: 10px;
    margin-left: 121px;
}

.userbtnAll {
    width: 100%;
    margin-top: -30px;
}

.findinguser>p {
    padding: 5px 5px;
}

.findinguser {
    margin-left: 136px;
}

#findingUserID {
    padding: 5px 5px;
    margin-left: 20px;
    margin-top: -20px;
}

#renewuserOrder,
#finduserOrder,
#delectuserfoodOrder {
    padding: 4px;
}

#adduserOrder {
    margin-left: 500px;
    padding: 6px;
    background-color: beige
}

.userHeadTable {
    list-style: none;
    width: 100%;
    height: 50px;
}

.userHeadTable>li {
    float: left;
    margin-left: 141px;
    margin-top: 30px;
    width: 84px;

}

.userTableAll {
    list-style: none;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

.userconten {
    float: left;
    margin-left: 141px;
    margin-top: 20px;
    width: 84px;
    height: 25px;
}

.delectuserOrder {
    margin-right: 5px;
}

.delectuserOrder,
.changeuserOrder {
    padding: 5px;
}
// 用户的盒子
.userBoxShadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 30;
}

// .userOrderaginbox {
//     margin-top: 15px;
//     margin-left: 127px;

// }

#adduserOrderagin {
    background-color: darkgreen;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
}

#rightadduserOrderagin {
    background-color: crimson;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
}


.userOrderHidden {
    position: absolute;
    float: none;
    background-color: white;
    padding-top: 10px;
    z-index: 60;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.userOrderHidden>p {
    text-align: center;
}


.userOrderHidden>input {
    margin-top: 8px;
    margin-left: 119px;
    margin-bottom: 5px;
}
.userChangebtn {
    width: 300px;
    // background-color: aqua;
    height: 50px;
    margin: 0 auto;
    margin-top:58px;
}
#userChangebtnUp,#userChangebtnDown{
    padding: 5px;
}
.orderBoxShadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 30;
}
// 修改食物的盒子
.foodBoxShadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    z-index: 30;
}

// .userOrderaginbox {
//     margin-top: 15px;
//     margin-left: 127px;

// }

#addfoodagin {
    background-color: darkgreen;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
}

#rightaddfoodagin {
    background-color: crimson;
    padding: 5px, 5px;
    width: 73px;
    height: 27px;
}


.findfoodHidden {
    position: absolute;
    float: none;
    background-color: white;
    padding-top: 10px;
    z-index: 60;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.findfoodHidden>p {
    text-align: center;
}


.addfoodaginbox {
    width: 300px;
    // background-color: aqua;
    height: 50px;
    margin: 0 auto;
    margin-top:58px;
    margin-left: 100px;
}
.findfoodHidden {
    position: absolute;
    float: none;
    background-color: white;
    padding-top: 10px;
    z-index: 60;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.findfoodHidden>p {
    text-align: center;
}

.findfoodHidden>input {
    margin-top: 8px;
    margin-left:80px;
    margin-bottom: 5px;
}
.spaName{
    margin-left:49px;
}